@import "tailwindcss";

html, body { height: 100%; }

/* EN default = Kollektif */
html.font-en body {
  font-family: var(--font-kollektif), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* AR = Cairo */
html.font-ar body {
  font-family: var(--font-cairo), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Godber for headings */
.font-head {
  font-family: var(--font-godber), system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Hide horizontal scrollbar (keep scrolling) */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}